<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>
    Contact Us
</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet">


</head>

<body>

<div class="container mt-5">
<div class="d-flex justify-content-end">

    <a href="/"
       class="text-decoration-none">

        Home

    </a>

</div>

<h1 class="text-center">

    Contact Us

</h1>

<hr>

<div class="text-center">

    <h4>

        Developer

    </h4>

    <p>

        Pranali Babar

    </p>

</div>

<br>

<div class="row text-center">

    <div class="col-md-6">

        <h5>

            Email

        </h5>

        <p>

            pranalibabar21@gmail.com

        </p>

    </div>

    <div class="col-md-6">

        <h5>

             Mobile

        </h5>

        <p>

            +91 9226308192

        </p>

    </div>

</div>

<hr>

<div class="text-center">


    <p>

        Customer Sales & Churn Analysis System


    </p>

</div>

</div>

<footer class="mt-5 ps-3 pb-3">
<small>

    Developed By:
    Pranali Babar

</small>
</footer>

</body>

</html>
